@using System.Security.Policy
@{
    Layout = "~/_SiteLayout.cshtml";
    var absPath = Request.Url.AbsolutePath;
    var thisPage = absPath.ToLower().Substring(absPath.LastIndexOf('/') + 1);
    PageData[thisPage + "Style"] = "active";
    PageData["Documentation"] = "active";
}

@section styles {
    @RenderSection("styles", required: false)
}


<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="WhyBoxstarter" class="list-group-item @PageData["whyBoxstarterStyle"]">Why Boxstarter?</a>
            <a href="InstallBoxstarter" class="list-group-item @PageData["installboxstarterStyle"]">Installing Boxstarter</a>
            <a href="UsingBoxstarter" class="list-group-item @PageData["usingboxstarterStyle"]">Using Boxstarter Commands</a>
            <a href="UnderstandingPackages" class="list-group-item @PageData["understandingpackagesStyle"]">Understanding Packages</a>
            <a href="CreatingPackages" class="list-group-item @PageData["creatingpackagesStyle"]">Creating Packages</a>
            <a href="PublishingPackages" class="list-group-item @PageData["publishingpackagesStyle"]">Publishing Packages</a>
            <a href="InstallingPackages" class="list-group-item @PageData["installingpackagesStyle"]">Installing Packages</a>
            <a href="VMIntegration" class="list-group-item @PageData["VMIntegrationStyle"]">Installing packages on a Virtual Machine</a>
            <a href="TestingPackages" class="list-group-item @PageData["testingpackagesStyle"]">Testing Packages and Build Server Integration</a>
            <a href="WinConfig" class="list-group-item @PageData["winconfigStyle"]">Boxstarter WinConfig Features</a>
            <a href="BoxstarterResources" class="list-group-item @PageData["boxstarterresourcesStyle"]">More Boxstarter Resources</a>
        </div>
    </div>
    <div class="col-md-9" role="main">
        <div class="media">
            <a class="pull-right" href="#">
                <img class="media-object" src="~/images/boxlogo_sm.png"/>
            </a>
            <div class="col-xs-12 col-md-8 media-body">
                @RenderSection("headerBody")
            </div>
        </div>
        @RenderBody()
    </div>
</div>